html, body {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  background: steelblue
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background: white
}

.app {
  padding: 50px;
  margin: 10px;
  flex-grow: 1;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.link {
  text-decoration: none;
}

h1, p{
  font-family: "Roboto", serif;
}